*{

    margin: 0;
    padding: 0;

}


*{

    margin: 0;
    padding: 0;

}

@font-face {
    font-family: fuenterdr;
    src: url(fonts/fuenterdr.ttf);
}

body{

    background-color: black;

}

header{

    background-image: url(img/fondoweb.jpg);
    background-size: cover;
    font-family: fuenterdr;
    color: white;
    text-align: center;
    padding-top: 5%;

}


header > hgroup{

    padding-bottom: 30%;
    margin-bottom: 45%;
    font-size: 2.5em;


}


#name{

    color: black;

}

