*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


*{

    margin: 0;
    padding: 0;

}

@font-face {
    font-family: fuenterdr;
    src: url(fonts/fuenterdr.ttf);
   
}

@font-face {
    font-family: fuenteundertale;
    src: url(fonts/fuenteundertale.ttf);
}


html{

    scroll-behavior: smooth;
}


body{

    background-color: black;

}


/*  HEADER  */

header{

    background-image: url(img/fondoweb.jpg);
    background-size: cover;
    font-family: fuenterdr;
    color: white;
    text-align: center;

}


header > hgroup{

    padding-bottom: 20%;
    padding-top: 3%;
    font-size: 2.5em;

}

.nav{

    display: flex;
    justify-content: space-between;
  
    
}

.navbar{

    display: flex;
    margin: 20px;

}

.logo{

    width: 60px;
    height: 60px;
    margin: 20px;
    margin-left: 30px;
    transition: all 0.5s;
    position: fixed;

}

.logo:hover{

    width: 65px;
    height: 65px;

}


.nav a{

    color: black;
    font-size: 1.6em;
    text-decoration: none;

}

.navbar a:hover{

    color: white;


}

.nav li{

    list-style-type: none;
    margin: 0 20px;

}


.nav-toggle{

    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;


    display: none;

}



#name{

    color: black;

}


/*  PRESENTACION  */


.presentacion{

    font-family: fuenterdr;
    text-align: center;

}


.presentacion > h2,p{

    color: white;
    font-size: 2.1em;
    font-weight: lighter;
    padding: 15px;

}


.pres-phrase{

    color: #ca0c06;
}


/*  ABOUT ME  */


.about{

    font-family: fuenteundertale;
    color: white;
    margin-top: 15%;
    text-align: center;
    background-image: url(img/fondoabout.png);
    background-size: cover;
    width: 100%;
    height: 40%;
    padding-bottom: 15%;

}

.about h2{

    font-size: 2em;
    padding-top: 15%;

}

.about-items{

    display: flex;
    padding-top: 10%;
    font-size: 0.7em;

}


.about-items > article{

    background-color: #102434;
    margin: 2%;
    height: 30%;
    width: 30%;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3%;


}

#sansimg{

    cursor: pointer;

}




/*  MEDIA QUERYS   */


@media(max-width: 768px){


    header > hgroup{

        font-size: 1.9em;

    }


    #name{

        color: white;

    }

    .logo{

        width: 50px;
        height: 50px;
        margin: 1;
        position: fixed;
    }


    /* NAVEGACION  */

    .navbar{

        flex-direction: column;
        background-color: #ca0c06;
        align-items: center;
        margin: 0;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        padding-bottom: 20%;
        padding-top: 20%;
        font-size: 1.7em;
        left: 100%;   
        transition: left 0.3s;

    }


    .nav-toggle{

        display: block;
        margin: 1;
        margin-right: 7px;
    }


    .navbar_visible {

        left: 0;

      }


    /*  SECCION ABOUT ME */


    .about-items{

        flex-direction: column;

    }

    .about-items > article{

        background-color: #102434;
        margin: 2%;
        height: 30%;
        width: 30%;
        margin: 0 auto;
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 5%;
        padding-left: 35%;
        padding-right: 35%;
    
    
    }
    


}